*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif
}

body{
    background-color: rgb(232, 227, 227);
}


header{
    height: 80px;
    display: inline-block;
    padding: 10px 10px;
    width: 100%;
    background-color: white;
    
}

.titolo, img {
font-size: 40px;
font-family: 'Ubuntu', sans-serif;
vertical-align: middle;

}

main{
    background-color: white;
    width: 80%;
    margin: 50px 30px 20px 130px;
    padding-bottom: 50px;
}



.add-task{
    background-color: rgb(58, 192, 244);
    padding:5px 5px;
    border-radius: 7px;
    display: inline-block;
    color: white;
    margin: 10px 10px 10px 50px;
    font-size: 12px;
   
}

.section{
    background-color: white;
    padding:5px 5px;
    border-radius: 7px;
    display: inline-block;
    color: gray;
    border: 1px grey solid;
    font-size: 12px;
}

h2::before{
    content: '\25bc';
    font-size: 13px;
}

.vero { 
   border-radius: 50%;
   border: 1px solid rgb(96, 244, 63);
   color: rgb(96, 244, 63);
   text-align: center;
   width: 20px;
   height: 20px;
   display: inline-block;
}

.botton-blue{
background-color:  rgb(58, 192, 244);
color: white;
border-radius: 10px;
padding: 4px;
font-size: 12px;
}

.falso {
        border-radius: 50%;
        border: 1px solid red;
        color: red;
        text-align: center;
        width: 20px;
        height: 20px;
        display: inline-block;
        line-height: 12px;     
}

.new-task,.today, .upcoming{
   margin: 20px 20px 30px 50px;
}

.options{
    padding: 10px 10px 10px 0 ;
}

.botton-purple{
    background-color:  rgb(110, 47, 90);
    color: white;
    border-radius: 10px;
    padding: 4px;
    font-size: 12px; }  


.botton-green{
    background-color:  rgb(53, 172, 93);
    color: white;
    border-radius: 10px;
    padding: 4px;
    font-size: 12px; } 

.botton-orange{
    background-color:  rgb(219, 171, 40);
    color: white;
    border-radius: 10px;
    padding: 4px;
    font-size: 12px; }   
            
.botton-lilac{
    background-color:  rgb(219, 40, 177);
    color: white;
    border-radius: 10px;
    padding: 4px;
    font-size: 12px; } 

.botton-lightgreen{
    background-color:  rgb(157, 239, 129);
    color: white;
    border-radius: 10px;
    padding: 4px;
    font-size: 12px; } 



